.main{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main .btn{
  margin: 5px;
}
.gamecontent{
  width: 400px;
  height: 400px;
  background:pink;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.gamecontent div{
  width: 20px;
  height: 20px;
  background: #333;
  border: 1px solid #444;
  box-sizing: border-box;
  /* color:rgba(0, 0, 0, 0); */
  overflow: hidden;
}